@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700&display=swap");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-navyblue);
  font-family: var(--font-roboto);
  background-color: var(--color-white);
}

:root {
  --color-iris: rgba(77, 90, 229, 1);
  --color-navyblue: rgba(46, 47, 66, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-cloud: rgba(244, 244, 253, 1);
  --color-cornflower: rgba(231, 233, 252, 1);
  --color-slate: rgba(67, 68, 85, 1);
  --color-lightslate: rgba(142, 143, 153, 1);
  --color-ocean: rgba(64, 75, 191, 1);
  --color-green: rgba(49, 208, 170, 1);

  --modal-backdrop: #2e2f42;
  --modal-background: #fcfcfc;

  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.caption-h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.caption-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.caption-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.caption-navyblue {
  color: var(--color-navyblue);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}


@media screen and (min-width: 480px) {
  .container {
      width: 396px;
  }
}

@media screen and (min-width: 768px) {
  .container {
      width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
      width: 1158px;
  }
}

/* _______________STUDIO_______________ */

/* _______________HEADER_______________ */
.header__top {
  /* padding: 24px 0; */
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: var(--font-raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--color-navyblue);
  margin-right: 76px;
}

.logo span {
  color: var(--color-iris);
}

.menu-list, .contacts-list{
  display: flex;
  gap: 40px;
}

.nav-menu, .menu-content{
  display: flex;
  align-items: center;
}

.menu-list{
  padding: 24px 0;
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-left: auto;
  }

  .contacts-list-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-slate);
  }
}

@media screen and (max-width: 1200px) {
  .contacts-list {
    flex-direction: column;
    gap: 4px;
    margin-left: auto;
  }
  .contacts-list-link{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-slate);
  }

}

.menu-list-link{
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-navyblue);
}

.menu-list-link:hover,
.menu-list-link:focus,
.menu-list-link:active{
  color: var(--color-ocean);
}

.contacts-list-link:hover,
.contacts-list-link:focus{
  color: var(--color-ocean);
}

.menu-list-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -28px;
  height: 4px;
  border-radius: 2px;
  left: 0;
  background-color: var(--color-ocean); 
}

.menu-list-link.current{
  color: var(--color-ocean);
}

@media screen and (max-width:767px) {
	.menu-list{
		display: none;
	}

	.contacts-list{
		display: none;
	}

  .logo{
    padding: 24px 0;
  }
}

.burger-menu-button {
	display: flex;
	justify-content: center;
	padding: 0;
	background-color: transparent;
  align-items: center;
	border: 0;
  margin-left: auto;
  cursor: pointer;
}

.burger-menu-button:hover>.burger-menu-icon,
.burger-menu-button:focus>.burger-menu-icon{
	fill: var(--color-ocean);
}

@media screen and (min-width:768px) {
  .burger-menu-button{
    display: none;
  }
}

.mobile-menu{
	position: fixed;
  width: 100%;
  height: 100%;
	top: 0;
	left: 0;
	z-index: 15;
	background-color:var(--color-white);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
				0px 1px 1px rgba(46, 47, 66, 0.16), 
				0px 1px 6px rgba(46, 47, 66, 0.08);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open{
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	transform: translateX(0);
}

.mobile-menu-container{
	padding: 80px 40px 40px 40px;
}

.mobile-menu-close {
	position: absolute;
	right: 40px;;
	top: 40px;
	z-index: 1000;

	width: 24px;
	height: 24px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color:var(--color-cornflower);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container .modal-close{
  z-index: 1000;
}

.mobile-navigation-item {
	margin-bottom: 40px;
}

.mobile-navigation-link {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	color: var(--color-navyblue);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
	color: var(--color-ocean);
}

.mobile-navigation-link:hover,
.mobile-navigation-link:focus{
	color: var(--color-ocean);
}

.mobile-contact-list {
	margin-bottom: 48px;
}

.mobile-contact__phone-item {
	margin-bottom: 40px;
}

@media screen and (max-width: 768px){
  .mobile-contact__phone-link {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.11;
    color:var(--color-iris);
  }
  @media screen and (min-width: 400px) {
    .mobile-contact__phone-link{
        font-size: 29px;
    }
  }
  
  @media screen and (min-width: 480px) {
    .mobile-contact__phone-link {
        font-size: 36px;
    }
  }
}

.mobile-menu-flex{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mobile-contact__email-link{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color:var(--color-slate);
}

.mobile-social-list {
	display: flex;
	gap: 56px;
}


@media screen and (min-width: 320px) {
	.mobile-social-list {
		margin-right: 0;
		gap: calc((100% - 3 * 40px) / 4);
	}
}

.mobile-menu-close:hover,
.mobile-menu-close:focus{
	background-color: var(--color-ocean);
}

.mobile-menu-close:hover>.mobile-menu-icon,
.mobile-menu-close:focus>.mobile-menu-icon{
	fill:var(--color-white);
}

.team-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus{
  background-color: var(--color-ocean);
}

.mobile-social-icon {
    width: 24px;
    height: 24px;
	  fill:var(--color-cloud);
}


/* _____________MODAL_____________ */
 .backdrop{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition-duration: 250ms;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);    
  width: 408px; 
  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  padding-top: 72px;
}

@media screen and (max-width: 768px){
  .modal {
    width: 345px;
  }
}

.modal-close{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  background: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus{
  background-color: var(--color-ocean);
  fill: var(--color-white);
  border: transparent;

}

.modal-close-icon {
  width: 8px;
  height: 8px;
}

.modal-caption{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
}

.modal-form{
  display: flex;
  flex-direction: column;
}

.modal-form-lable{
  margin-bottom: 8px;
}

.modal-form-input{
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-navyblue);
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-property: border-color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus{
  outline: none;
  border-color: var(--color-iris);
}

.modal-form-input:focus + .modal-form-icon{
  fill: var(--color-iris);
}

.modal-form-lable-caption{
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 4px;
  color: var(--color-lightslate);
}

.modal-form-input-icon{
  display: block;
  position: relative;
}

.modal-form-icon{
  position:absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 24px;
  fill: var(--color-navyblue);
}

.modal-form-textarea{
  resize: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-navyblue);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  transition-duration: 250ms;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.modal-form-textarea:focus{
  outline: none;
  border-color: var(--color-iris);
}

.modal-form-check-policy{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}

.modal-form-check{
  position: relative;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1.25px solid #2E2F42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: -11px;
}

.chek-icon{
  position: absolute;
  display: block;
  height: 8px;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--color-white);
  transition-duration: 250ms;
  transition-property: background-color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check{
  background-color: var(--color-ocean);
  border: transparent;
}

.modal-send-btn{
  min-width: 169px;
  align-self: center;
  height: 56px;
  color: var(--color-white);
  line-height: 1.18;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background: var(--color-iris); 
  transition-duration: 250ms;
  transition-property: background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.modal-textarea{
  margin-bottom: 16px;
}

.policy-link{
  color: var(--color-iris);
  text-decoration: underline;
}

.modal-policy-text{
  width: 100%;
}

/* _______________HERO SECTION_______________ */
.hero {
  background-image: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7) , 
    rgba(46, 47, 66, 0.7)),
     url('../images/photo-mobile-bg.jpg');  
  background-repeat: no-repeat;
  background-position:  center;
  color: var(--color-white);
  /* padding: 188px 0; */
  padding: 112px 0;
  text-align: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-size: cover;
}


@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      padding-top: 112px;
      padding-bottom: 112px;
      background-image: linear-gradient(
                      rgba(46, 47, 66, 0.7), 
                      rgba(46, 47, 66, 0.7)), 
                        url('../images/photo-mobile-bg@2x.jpg');
  }
}


@media screen and (min-width: 480px) {
  .hero {
      padding-top: 112px;
      padding-bottom: 108px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet-bg.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet-bg@2x.jpg');
      }
  }
}


@media screen and (min-width: 768px) {
  .hero {
      padding-top: 112px;
      padding-bottom: 108px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet-bg.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet-bg@2x.jpg');
      }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
      padding-top: 188px;
      padding-bottom: 188px;
      max-width: 1440px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg-main_page.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg-main_page-bg@2x.jpg');
      }
  }
}

@media screen and (max-width: 768px){
 .caption-h1{
    font-size: 36px;
  }
}


.order-service {
  font-family: var(--font-roboto);
  background-color: var(--color-iris);
  border: none;
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 170px;
  height: 56px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover,
.order-service:focus {
  background-color: var(--color-ocean);
}


/* ______________ADVANTAGES SECTION_____________*/
.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .advantages {
      padding-top: 120px;
      padding-bottom: 120px;
  }
}


@media screen and (min-width: 768px) {
  .advantages-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    gap: 24px;
  }
}

@media screen and (max-width: 768px) {
  .advantages-list-item .caption-h3 {
      text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .advantages-list-item .caption-h3 {
      font-size: 36px;
      line-height: 1.1;
      font-weight: 700;
      color: var(--color-navyblue);
  }
}

@media screen and (max-width: 1200px) {
  .advantages-card-info, .our-team-card-role {
      font-weight: 500;
  }
}

.advantages-card-info {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-slate);
  letter-spacing: 0.02em;
  margin-top: 8px;
}


.advantages-list-item {
  margin-right: 0;
}

.advantages-list-item:not(:last-child) {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .advantages-list-item{
      margin-bottom: 0;
      flex-basis: calc((100% - 1*24px) / 2);
  }
  .advantages-list-item:not(:last-child) {
      margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .advantages-icon {
    display: none;
  }

}

@media screen and (min-width: 1200px) {
  .advantages-list-item{
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-icon{
    height: 112px;
    background-color: var(--color-cloud);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}

.svg-icons{
  width: 59.72px;
  height: 64px;
}


/* ___________WHAT ARE WE DOING SECTION____________*/
.wawd {
  padding-bottom: 120px;
}

.wawd-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

@media screen and (max-width: 1200px) {
  .wawd {
      display: none;
  }
}

/* ____________OUR TEAM SECTION_____________*/
.our-team {
  background-color: var(--color-cloud);
  padding: 120px 0;
}

.our-team-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

/* @media screen and (min-width: 1200px) {
  .resumes-list {
      column-gap: 24px;
      row-gap: 64px;
  }
} */

@media screen and (min-width: 768px) {
  .our-team-list {
      column-gap: 24px;
      row-gap: 64px;
  }
}

@media screen and (max-width: 768px) {
  .our-team-list {
      /* column-gap: 24px; */
      row-gap: 72px;
  }
}


@media screen and (min-width: 768px) {
  .our-team-list-item {
      /* margin-bottom: 0;
      margin-left: 0;
      margin-right: 0; */
      flex-basis: calc((100% - 1*24px) / 2);
  }
  .our-team-list-item:not(:last-child) {
      margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list-item {
      margin-right: 0;
      margin-bottom: 0;
      flex-basis: calc((100% - 3*24px) / 4);
  }
}

.our-team-list-item {
  background-color: var(--color-white);
  max-width: 264px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
  color: var(--color-cloud);
}

.our-team-card-info {
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 32px 16px;
}

.our-team-card-role {
  margin-top: 8px;
}

.our-team-social-media-list{
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.our-team-social-media-link{
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-media-link:hover,
.our-team-social-media-link:focus{
  background-color: var(--color-ocean);
  border: transparent;
}

.svg-icons-ot{
  width: 16px;
  height: 16px;
  fill: var(--color-cloud);
}




/* ______________CUSTOMERS SECTION____________ */
.customers{
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list{
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .customers-list {
      column-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
      gap: 24px;
  }
}



.customers-list-item {
  flex-basis: calc((100% - 1 * 24px) / 2);
}

@media screen and (min-width: 768px) {
  .customers-list-item {
      flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-list-item {
      flex-basis: calc((100% - 5 * 24px) / 6);
  }
}

.customers-link{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 168px; */
    height: 88px;
    color: var(--color-lightslate);
    border: 1px solid var(--color-lightslate);
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icons-customers{
  fill: currentColor;
  width: 104px;
  height: 56px;
}

.customers-link:hover,
.customers-link:focus{
  color: var(--color-ocean);  
  border: 1px solid var(--color-ocean);
}


/* ____________FOOTER_____________ */
.footer {
  background-color: var(--color-navyblue);
  padding: 96px 0;
}

@media screen and (min-width: 1200px) {
  .footer {
      padding: 100px 0;
  }
}

.footer .logo {
  color: var(--color-cloud);
  margin-right: 0;
}

.footer-info {
  width: 264px;
  color: var(--color-cornflower);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}



@media screen and (min-width: 768px) {
  .footer-content {
      display: flex;
      column-gap: 24px;
      row-gap: 72px;
      flex-wrap: wrap;
      /* justify-content: center; */
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
      display: flex;
      /* justify-content: space-between; */
      flex-wrap: nowrap;
      gap: 80px;
      align-items: baseline;
  }
}

@media screen and (max-width: 768px) {
  .footer-content {
      text-align: center;
  }

  .footer-div:not(:last-child){
    margin-bottom: 72px;
  }

  .footer-social-media-list{
    justify-content: center;
  }

  .footer-container{
    margin: 0 auto;
  }

}

.footer-container{
    max-width: 268px;
}


.footer-social-media-list{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.footer-social-media-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-social-media-link{
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-social-media-link:hover,
.footer-social-media-link:focus{
  background-color: var(--color-green);
}

.footer-caption{
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.svg-icons-footer{
  width: 24px;
  height: 24px;
  fill: var(--color-cloud);
}


@media screen and (max-width: 768px){
  .footer-email-input{
    width: 100%;
  }

  .footer-form{
    flex-direction: column;
    align-items: center;
  }
}

.footer-form{
  display: flex;
  gap: 24px;
  margin-top: 16px;
}




.footer-email-input{
  display: block;
  box-sizing: border-box  ;
  /* width: 264px; */
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
}

.footer-email-input::placeholder{
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-btn{
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    gap: 16px;
    line-height: 1.5;
    padding: 8px 24px;
    color: var(--color-white);
    background: var(--color-iris);
    border: transparent;
    border-radius: 4px;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 165px;
    height: 40px;
}

.footer-btn-icon{
  width: 24px;
  height: 24px;
  fill: var(--color-white);
}



/* _______________PORTFOLIO________________ */
.filter-button {
  font-family: var(--font-roboto);
  font-weight: 500;
  background-color: var(--color-cloud);
  border: 1px solid;
  border-color: var(--color-cornflower);
  color: var(--color-iris);
  font-size: 16px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 12px 24px;
  line-height: 1.5;
  cursor: pointer;
  transition-property: color, background-color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .filter-list {
      justify-content: center;
      gap: 24px;
      margin-bottom: 72px;
  }
}


.filter-button:hover,
.filter-button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
              0px 2px 1px rgba(0, 0, 0, 0.08), 
              0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* ____________ARTICLES SECTION____________ */
.portfolio-articles {
  padding-top: 96px;
  padding-bottom: 120px;
}


.article-list-item {
  background-color: var(--color-white);
  cursor: pointer;
  margin-right: 0;
}

.articles-list {
  display: grid;
  row-gap: 48px;
}

@media screen and (min-width: 768px) {
  .articles-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 48px;
  }
  .articles-list > .article-list-item {
      margin-right: 0;
      flex-basis: calc((100% - 1 * 24px) / 2);
  }

}

@media screen and (min-width: 1200px) {
  .articles-list {
      row-gap: 48px;
  }
  .articles-list > .article-list-item {
      margin-right: 0;
      flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

.article-link{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.article-link:hover,
.article-link:focus{
  box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 
              0px 1px 1px rgb(46 47 66 / 16%), 
              0px 2px 1px rgb(46 47 66 / 8%);
}

.pa-category {
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.article-info {
  padding: 32px 16px;
} 

.article-link {
  cursor: pointer;
}

.link-container{
  position: relative;
  overflow: hidden;
}

.link-text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-text {
  width: 296px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}

.article-link:hover .link-text-overlay,
.article-link:focus .link-text-overlay{
  transform: translateY(0);
}